/*++++++++++
 UTILITIES 
++++++++++*/

.my-bg-black {
  background-color: black;
}
.my-w-75px {
  width: 75px;
}

/*+ button +*/

.my-btn-red {
  background-color: red;
  color: white;
  border-radius: 100px;
}

/*- /button -*/

/*----------
 /UTILITIES
----------*/

/*++++++++++
CUSTOMS
++++++++++*/

#jumbo-tron {
  background-image: url("../img/jumbo-bg.png");
  margin-top: calc(56px + 29.2px);
  background-size: cover;
  background-position: top;
  padding-top: 200px;
  padding-bottom: 50px;
  color: white;
  vertical-align: middle;
}

/*----------
 /CUSTOMS 
----------*/
