ul {
  list-style: none;
}

/*++++++++++
 UTILITIES 
++++++++++*/

.my-bg-black {
  background-color: black;
}
.my-w-75px {
  width: 75px;
}

/*+ button +*/

.my-btn-red {
  background-color: red;
  color: white;
  border-radius: 100px;
}

/*- /button -*/

/*----------
 /UTILITIES
----------*/

/*++++++++++
CUSTOMS
++++++++++*/

#jumbo-tron {
  background-image: url("../img/jumbo-bg.png");
  margin-top: calc(56px + 29.2px);
  background-size: cover;
  background-position: top;
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: white;
}

#accesories a:hover {
  border: white !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #0d6efd !important;
}

#ads-first-place {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-position: top;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}
/*----------
 /CUSTOMS 
----------*/
